.icons{

width: 20px;


}

.days{

    position: relative;
    display: flex;
    text-align: right;
    justify-content: flex-start;
    top:0;
    line-height: 1.5;
    
}
.table{
    position: relative;
    display: flex;
    
}



.daily{
    position: relative;
    display: flex;
   align-items: right;
 margin-right: 10px;
 justify-content: flex-end;
    top:32%;
   
}